<!-- financas/templates/financas/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Financeiro</title>
    <link rel="stylesheet" href="{% static 'financas/style.css' %}">
</head>
<body>

    <div class="header">
        <h1>💰 Controle Financeiro</h1>
    </div>

    <div class="container">
        {% block conteudo %}{% endblock %}
    </div>
    

</body>
</html>